
/*******************************
          Global CSS
*******************************/

/*
  This CSS is used across pages
*/


/* Top Bar */
body > .page.header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  min-width: 1000px;
  padding-bottom: 10px;
  padding-top: 10px;
}

body > .page.header .menu {
  margin-top: 0em;
  margin-bottom: 0em;
}
body > .page.header .menu .item .input {
  margin-right: 1em;
}
body > .page.header .menu .item > .logo.image {
  width: auto;
  height: 28px;
}
body > .page.header .menu .item > .user.image {
  width: auto;
  height: 20px;
}

/* Make menu point to avatar */
body > .page.header .user.dropdown .menu {
  margin: 5px 9px 0px 0px !important;
}

/* Watch Button */
.watch.dropdown.button > .menu h4 {
  margin-bottom: 5px;
}


/* Top Bar */


/* This will be removed */

.ui.menu .item {
  flex: 0 0 auto !important;
}