
/*******************************
          Global CSS
*******************************/

/*--------------
  Global Styles
---------------*/

b {
  color: #333
}

a:hover b {
  color: inherit;
}


/*--------------
   Page Header
---------------*/

.page.header {
  background-color: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
  padding: 5px 0px;
}

/* No padding on menu */
.page.header .menu {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Space right of input */
.page.header .menu .item input {
  width: 250px;
  margin-right: 1em;
}

/* Resize images */
.page.header .menu .item > .logo.image {
  width: auto;
  height: 28px;
}
.page.header .menu .item > .user.image {
  width: auto;
  height: 20px;
}

/* Make menu point to avatar */
.page.header .user.dropdown .menu {
  margin: 5px 9px 0px 0px !important;
}

.page.header .plus.icon + .dropdown.icon {
  margin-left: 2px;
}

/* Notification Bubble */
.page.header .notification.label {
  top: 0;
  left: auto;
  right: 2px;
}

/*--------------
    Repo Menu
---------------*/

.repo.menu:first-child {
  margin-top: 18px;
}
.repo.menu ~ p {
  font-size: 11px;
  margin: 5px 0px;
  color: #767676;
}
.repo.menu ~ p + .button {
  margin-top: 10px;
}
.repo.menu ~ .button {
  margin: 7px 0px;
}


/*--------------
  Watch Button
---------------*/

.watch.dropdown.button > .menu h4 {
  margin-bottom: 5px;
}


/*--------------
     Footer
---------------*/

.footer.container {
  position: relative;
  padding-bottom: 2.5em;
}
.footer.container .github.mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
