
/*******************************
          Page CSS
*******************************/


/* This CSS is used to make per-page adjustments
  Each page is given a body #id tag to descend
  from for page-specific rules

*/

#repo {

}

#repo .button .dropdown.icon {
  vertical-align: top;
}

/*--------------
   Top Ribbon
---------------*/

#repo .repo.ribbon {
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 0px;
}
#repo .repo.ribbon .button {
  margin-left: 10px;
}

#repo .repo.description {
  margin: 1em 0em;
  font-size: 16px;
  line-height: 22px;
}

/*----------------
  Latest Commits
-----------------*/

#repo .recent.message {
  padding: 0.75em 1em;
}

#repo .latest.segment {
  border-top: 1px solid #DDD;
  padding: 0.5em;
  color: #999999;
}
#repo .latest.segment b {
  color: rgba(0, 0, 0, 0.8);
}


/*----------------
  Branch Dropdown
-----------------*/

/* Branch label */
#repo .branch.button .text {
  color: #888888;
}
/* Branch name */
#repo .branch.button b {
  display: inline-block;
  margin-left: 2px;
  color: rgba(0, 0, 0, 0.8);
}