
/*******************************
          Theme CSS
*******************************/


/* CSS for theme sidebar

*/

.theme.sidebar {
  background-color: #FFFFFF;
  padding: 1em;
}

.theme.sidebar .button + .button {
  margin-top: 0.5em;
}

.alternate.menu {
  display: none;
}
